/* Student's Result */

/* Header */
#NavMenu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ad171c;
}

#NavMenu ul li {
    position: relative;
}

#NavMenu ul li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}



#NavMenu ul li:nth-child(5) {
    margin-left: auto;
    /* Đẩy mục Cá nhân về bên phải */
}

/* Phần tùy chỉnh icon */
#NavMenu ul li i {
    display: inline-block;
    margin-right: 5px;
}

/* End Header */

/* Section One */

.section-one .container {
    margin-top: 20px;
    padding: 20px 0;
}


.section-one input {
    width: 85%;
    margin-left: 20px;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 45px;
    border: 2px solid var(--color-one);
}

.section-one input:focus,
textarea:focus {
    transition: all 0.6s;
    outline: 2px;
    border: 2px solid var(--color-one);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.section-one label {
    margin: 0;
}

#result {
    margin-top: 20px;
    padding: 0 20px;
}

/* End Section One */

/* Section Two */
.section-two .container {
    padding: 20px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.section-two .inner-title {
    color: var(--color-one);
    margin-bottom: 20px;
}


/* End Section Two */

/* Section Three */
.section-three .container {
    padding: 20px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 15px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 10px;
    text-align: center;
    border: 1px solid #E5E7EB;
}

tbody th {
    font-weight: 400;
}

thead {
    background: var(--color-one);
    color: white;
    font-weight: 600;
}

/* End Section Three */

@media (max-width: 1200px) {
    .section-one input {
        margin: 0;
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .section-one input {
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}